{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>
      {% block title %}
      Django BLOG
      {% endblock %}
    </title>
  </head>

  <style>
  body {
  background-image: url({% static 'images/background.jpg' %);
  background-size: cover;
  }
  </style>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Блог Жекоса</a>
        <a class="nav-link active" href="{% url 'posts_list_url' %}">Posts</a>
        <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
        <a class="nav-link" href="{% url 'post_create_url' %}" tabindex="-1">Create post</a>

      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col-6 offset-md-2">
          {% block content %}
          There is no content :(
          {% endblock  %}
        </div>
      </div>
    </div>
    {% if request.user.is_staff %}
      <div class="admin-panel items-align-center">
        <a href="/admin" class="btn btn-outline-info">Admin</a>
        {% block admin-panel %}
        {% endblock %}
      </div>
    {% endif %}
  </body>
</html>
